body {
    background-color:#c9dbed;
    margin: 0;
}



/* Menu - Navigation Bar 
   Taken from https://github.com/pure-css/pure/blob/master/site/static/layouts/marketing/styles.css
*/

 .home-menu {
    padding: 0.5em;
    text-align: right;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    background: #546e88;
}

/* .pure-menu.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
} */

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}
.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}