<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>HarmonyHub</title>

        <!-- Taken from PureCSS (https://purecss.io) -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
        <link rel="stylesheet" href="static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
    </head>
    <body>
        <a class="pure-button" href="/login">Login</a>
    </body>
</html>